#{extends 'main.html' /}
#{set title:'Contact - SunnyBus Paris' /}
#{set 'moreStyles'}
#{stylesheet 'edito.css'/}
#{/set}
#{set 'moreScripts'}
    <!-- TODO à remonter dans le main -->
    <script data-main="public/scripts/contact" src="public/scripts/require.js"></script>
#{/set}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="lead">Nous suivre sur:</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-5">
            <p class="text-center">
                <a href="https://twitter.com/SunnyBusParis">
                    <img src="public/img/social/twitter.png"><br>@SunnyBusParis
                </a>
            </p>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-5">
            <p class="text-center">
                <a href="https://www.facebook.com/pages/Sunnybus-Paris/487615044641968">
                    <img src="public/img/social/facebook.png"><br>SunnyBus Paris
                </a>
            </p>
        </div>
    </div>
</div>